<script type="text/javascript">
    (function() {
        var reload = function() { location.reload(); };
        $.each(['#create', '#destroy'], function(index, channel) {
            PUSHER_CHANNEL.bind(channel, reload);
        });
    })();
</script>

<div class="teacher">
  <div class="count">
    <%= @readys.size %> / 10
  </div>
  <%= link_to "Reset", reset_readys_path, method: :post, class: "btn btn-primary btn-lg" %>
</div>
