<script type="text/javascript">
    bind_pusher(['readys#reset', 'note#update']);
</script>

<div class="student">
  <div>
    <% if Ready.ready? %>
        <%= link_to "Ready!", ready_path('fake'), method: :delete, class: "btn btn-success btn-lg" %>
    <% else %>
        <%= link_to "Ready!", readys_path, method: :post, class: "btn btn-default btn-lg" %>
    <% end %>
  </div>

  <div class="note">
    <%= Note.html %>
  </div>
</div>
