<script type="text/javascript">
    PUSHER_CHANNEL.bind('#reset', function() { location.reload(); });
</script>

<div class="student">
  <% if Ready.ready? %>
      <%= link_to "Ready!", ready_path('fake'), method: :delete, class: "btn btn-success btn-lg ready" %>
  <% else %>
      <%= link_to "Ready!", readys_path, method: :post, class: "btn btn-default btn-lg ready" %>
  <% end %>
</div>