// Place all the styles related to the readys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.teacher {
  text-align: center;

  .count {
    font-size: 200px;
    margin-bottom: 40px;

    &.near {
      &,
      input {
        color: gold;
      }
    }

    &.done {
      &,
      input {
        color: green;
      }
    }

    input {
      width: 250px;
    }
  }
}

.student {
  text-align: center;
  margin-top: 50px;

  .btn.ready {
    font-size: 200px;
    padding: 50px 80px;
  }
}