// Place all the styles related to the readys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.teacher {
  text-align: center;

  .count {
    font-size: 200px;
    margin-bottom: 40px;

    &.near {
      &,
      input {
        color: gold;
      }
    }

    &.done {
      &,
      input {
        color: green;
      }
    }

    input {
      width: 250px;
    }
  }

  .note {
    display: inline-block;
    margin-top: 20px;

    width: 700px;
    height: 700px;

    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size: 30px;
  }
}

.student {
  text-align: center;
  margin-top: 50px;

  .note {
    margin-top: 50px;
    border-top: 1px solid gray;
    width: 700px;
    display: inline-block;
    text-align: left;
  }
}